* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #333;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, border-radius 0.3s;
}

.sidebar a:hover {
    background-color: gray;
    border-radius: 5px;
}

.content {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0072c6;
    color: #fff;
    padding: 10px 20px;
}

.header h1 {
    font-size: 24px;
}

.header p {
    font-size: 16px;
}

.logo {
    width: 50px;
    animation: animacion-logo 5s infinite linear;
}

.products h2 {
    margin-top: 20px;
    font-size: 20px;
}

.product {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

.product:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.product h3 {
    font-size: 16px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #00aced;
    text-decoration: none;
}

@keyframes animacion-logo {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
